<VirtualHost *:81>
    ServerName {{ site1_domain }}
    ServerAlias www.{{ site1_domain }}
    DocumentRoot {{ site1_dir }}

    <Directory {{ site1_dir }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>