server {
    listen 80;
    server_name {{ site1_domain }} www.{{ site1_domain }};
    root {{ site1_dir }};

    access_log {{ site1_log }}/nginx-access.log;
    error_log {{ site1_log }}/nginx-error.log;

    location / {
        proxy_pass http://127.0.0.1:81;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /wp-includes {
        try_files $uri $uri/ @apache;
    }

    location @apache {
        proxy_pass http://127.0.0.1:81;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}